*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}
h1{
    margin: 40px auto;
    color: white;
    text-decoration: underline;

}
.playerChoice{
    display: flex;
    justify-content: space-around;
}
.playerChoice img{
    width: 100px;
}
.result{
    color: white;
    margin: 40px auto ;
}
.score{
    color: white;
    font-size: 60px;
    display: flex;
    margin: 50px 47%;
}
img:hover{
 transform:scale(0.7);
 cursor: pointer;
}